<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    	{% load static %}
   	</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="#">FusionCharts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/chart">1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chartpie3d">2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chartline">3</a>
            </li>

            <li class="nav-item">
            {% if user.is_authenticated %}
                <a href="/profile">Личный кабинет</a>
                <a href="/exit">Выйти</a>
            {% else %}
              <a href="/reg">Регистрация</a>
              <a href="/auth">Войти</a>
            {% endif %}

             </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        {% if messages %}
            {% for mess in messages%}
                <div class="alert alert-success">
                    {{mess}}
                </div>
            {% endfor%}
        {% endif %}
    </div>
    <div class="container">
        {%block main_section%}
        {%endblock%}
    </div>
</body>
</html>